[include]
    path = .gitconfig-{{ .gitconfig.default }}
[includeIf "gitdir:~/works/qit/"]
    path = .gitconfig-qit
[credential]
    helper = libsecret
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
